.HeaderMenu {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.HeaderMenu img {
  width: 100%;
}

.HaederMenuBar {
  width: 80%;
  height: 10%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .HeaderMenu {
    width: 30px;
    height: 30px;
    gap: 4px;
  }

  .HaederMenuBar {
    width: 140%;
    height: 10%;
  }
}
